body {
    margin: 0;
    background: lightgrey;
}

:root {
    --main-color: white;
    --second-color: lightgrey;
    --menta-color: #8BF15F;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    filter: blur(3px);
}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

footer {
    background: black;
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
}

.custom-section {
    padding-bottom: 15px;
}


/* Presentación del proyecto*/

.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.proyecto {
    display: grid;
    flex-direction: row;
}

.card-body {
    width: auto;
}


/* Presentación del proyecto-- FIN*/

.home {
    background-image: url(./images/web-development-t.jpg);
}

.barra {
    color: var(--main-color);
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.enlace {
    text-decoration: none;
    color: var(--main-color);
    size: 50px;
}

.linkedin,
.github {
    padding-bottom: 15px;
    margin-right: 20px;
}

.perfil {
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin: 15px;
}


/*Miperfil.html*/

.descripcion {
    background-color: var(--menta-color);
    text-align: center;
    text-decoration: dashed;
    font-size: 20px;
}