body {
    margin: 0;
    background: lightgrey;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --blanco: white;
    --second-color: lightgrey;
    --menta-color: #8BF15F;
    --three-color: #5F5F5F;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    filter: blur(3px);
}

.bg-text {
    color: var(--blanco);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

footer {
    background: black;
    padding: 20px 0;
    color: var(--blanco);
    margin-top: 40px;
}

.custom-section {
    padding-bottom: 15px;
}


/* Presentación del proyecto*/

.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: scroll;
}

.proyecto {
    display: grid;
    flex-direction: row;
}

.card-body {
    width: auto;
}


/* Presentación del proyecto-- FIN*/


/*Footer*/

.contacto-titulo {
    text-align: center;
    padding: 10px 10px;
}

.contacto {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    text-align: center;
}


/*Footer--FIN*/

.home {
    background-image: url(./images/web-development-t.jpg);
}

.barra {
    color: var(--blanco);
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.enlace {
    text-decoration: none;
    color: var(--blanco);
    size: 50px;
}

.linkedin,
.correo-contacto,
.github {
    padding-bottom: 15px;
    margin-right: 20px;
}

.perfil {
    background-color: var(--blanco);
    border-radius: 5px;
    text-align: center;
    margin: 15px;
    padding: 15px 15px;
}


/*Miperfil.html*/

.descripcion {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--menta-color);
    text-align: center;
    text-decoration: dashed;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 20px 20px;
}

.formacion {
    margin: 0 200px;
    padding: 20px 20px;
}

.accordion-body {
    border-radius: 20px;
}

.titulo {
    margin-bottom: 15px;
    color: var(--blanco);
}

.titulo,
.formacion-adicional {
    background-color: var(--three-color);
    border-radius: 15px;
    padding: 10px 10px;
}

.foto-perfil {
    background-color: var(--blanco);
    border-radius: 20px;
    border-style: var(--menta-color);
}

.foto-me {
    border-radius: 20px;
    border: solid 5px;
}

.nombre-perfil {
    padding: 15px 15px;
}

.parrafo-perfil {
    text-align: center;
    align-items: center;
    padding: 15px 15px;
    margin: 15px 15px;
}

.text-educacion {}


/*Formación*/

.descripcion-experiencia {
    background-color: var(--three-color);
    padding: 15px 15px;
    border-radius: 15px;
    color: var(--blanco);
}

.descripcion-profesional {
    background-color: var(--menta-color);
    padding: 15px 15px;
    border-radius: 25px;
    margin: 15px 15px;
    color: var(--blanco);
}